.sidebar-filter{
    border: 1px solid #fff;
    background-color: rgb(255, 255, 255,0.2);
    padding: 30px 25px;
    color: #fff;
    font-size: 21px;}
/* ------filter------ */
.filter-name{
    font-weight: bold;
    margin-bottom: 20px;
}
.filter{
    margin-bottom: 60px ;
}
.sidebar-filter .last-filter{
    margin-bottom: 20px;
}
.filter-item{
    margin-bottom: 20px;
}
/* ------filter------ */
.sidebar-filter .btn-show-more-options{
    text-transform: none;
    background-color: unset;
    border: none;
}
.sidebar-filter .btn-show-more-options:hover{
    background-color: rgba(255, 255, 255, 0.404)
}

/* --------------style ckeckbox----------- */
.sidebar-filter label{
    margin-left: 10px;
}
.sidebar-filter label:hover {
    color: whitesmoke;
    text-shadow:0 0 5px white;
}
.sidebar-filter label::before{
    content: '';
    display: block;
    width: 10px;height: 10px;
    border: 1px solid white;
    position: relative;
    top: 3px;
    float: left;
}
.filter-checkbox{display: none;}
.filter-checkbox:checked + label::before{
    background-color: #fff;
}
.filter-item::after{
    content: "";
    display: block;
    clear: both;
}
/* --------------style ckeckbox----------- */
/* ----slider----- */
.sliders{
    background-color: rgb(0, 0, 0, 0.2);
    border-bottom: 1px solid #fff;}
.sl{
    text-align: center;
    height: 300px;
    line-height: 350px;}
.slide{
    font-size: 100px;
    color: white;
    font-weight: 100;
    letter-spacing:8px;
    text-decoration: none;}
.slide-buttons{
    width: 100%;
    text-align: center;
    height: 100px;
    line-height: 100px;}
.slide-buttons::after{
    content: '';
    display: block;
    clear: both;
}
.slide-buttons>div{height: 100%;
width: 160px;
left: 0px; right: 0px;
margin-left: auto;
margin-right: auto;}
.btn-slide {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background-color: unset;
    padding: 0px;
    margin: 0 15px;
    float: left;} 

.btn-slide:hover{
    background-color: #fff;}
.arrow {
    height: 400px;
    line-height: 400px;}
.arrow img:hover{
transform: scale(1.5);
transition: 1s;
z-index: 5;}

.slide-2 .slide-3 .slide-4{
    display: none;
}
/* ----slider----- */
